html {
  font-family: 'Lato', sans-serif;
}
span {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* covid block */
.covidCountry {
  margin-bottom: 7px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  margin: 0 auto;
}
.covidFlex {
  display: flex;
  justify-content: space-between;
} 
button {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
  overflow: hidden;
}

.main-input {
  background-color: #fff;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: 20px;
}

.wrapper-for-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  width: 45%;
}

.save-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(icons/star_border.svg);
  border: none;
  width: 40px;
  height: 40px;
}
.talk-btn {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(icons/microphone.svg);
  border: none;
  width: 30px;
  height: 30px;
}
.starred {
  background-image: url(icons/star_filled.svg);
}

.input-slider-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.siema {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.btn-wrapper {
  background-color: #2e3142;
  display: flex;
  align-items: center;
  height: 35px;
  width: 33%;
  width: -moz-max-content;
  width: -webkit-max-content;
  opacity: 0.6;
  border-radius: 15px;
}

.cross-btn {
  background: transparent;
  width: 30px;
  height: 25px;
  background-image: url(icons/close.svg);
  background-position: center;
  border: none;
}

.added-city {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  padding-left: 14px;
  padding-bottom: 4px;
}

.right-click {
  background-image: url(icons/chevron_right.svg);
  width: 25px;
  height: 25px;
  background-color: #c5c9cd;
  border: none;
  border-radius: 25px;
  opacity: 0.5;
}

.weather-container {
  position: relative;
  margin-left: 65%;
  margin-bottom: 30px;
  width: 490px;
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #102136;
  border-radius: 30px;
  transition: ease-out all 1s;
}
.toright {
  margin-left: 100%;
  opacity: 0;
}
.weather_icon {
  opacity: 0;
  top: -1px;
  position: absolute;
  width: 70px;
  height: 70px;
  border: none;
}

.visible {
  opacity: 1;
}

.city {
  margin-top: 50px;
  color: #586473;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
}

.weather-container__temperature {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 90px;
  color: #ffffff;
}

.weather-container__temperature::after {
  content: '';
  position: absolute;
  background-image: url(icons/elips.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.temp1 {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  color: #586473;
  margin-bottom: 10px;
}

.temp-value {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  color: #586473;
}

.temp-value::after {
  content: '';
  position: absolute;
  background-image: url(icons/elips2.png);
  width: 10px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.temp-container,
.temp-container2 {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-container {
  border-right: 1px solid #28384a;
}

.temp-container-wrapper {
  display: flex;
  width: 120px;
  justify-content: space-between;
  height: 55px;
}

.btn-wrapper2 {
  margin-left: 75%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 35px;
}

.switchBTN {
  width: 125px;
  height: 40px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 9px;
}

.date {
  opacity: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 90px;
  color: #ffffff;
  margin-right: 25px;
}

.date::after {
  content: 'th';
  font-size: 23px;
  position: absolute;
}

.day {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 90px;
  color: #ffffff;
}

.month,
.current-time,
.sunrise,
.sunset {
  /* font-family: 'Lato', sans-serif; */
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.date-info {
  display: flex;
  justify-content: space-between;
  width: 525px;
  height: 45px;
  margin-right: 0px;
}

.second-row,
.first-row {
  width: 600px;
  height: 137.5px;
  padding-left: 50px;
}

.first-row {
  padding-top: 60px;
}

.second-row {
  padding-left: 20px;
  padding-top: 40px;
}

.date-container {
  border-radius: 25px;
  width: 47%;
  height: 243px;
  background-color: rgba(16, 33, 54, 0.75);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
}

.bottom-containers-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  transition: ease-out 1.2s all;
}
.tobottom {
  padding-top: 350px;
  opacity: 0;
}

.bottom-list-items {
  width: 24.9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-before::before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-image: url(icons/sunrise.png);
}

.sunset::before {
  background-image: url(icons/sunset.png);
}

.borderstyle {
  border-right: 1px solid #dadfe4;
}

/*-----короновирус инфо-------*/
.corona-box,
.air-box {
  border-radius: 35px;
  color: #ffffff;
}
.corona-box {
  width: 25%;
  height: 200px;
  margin-left: 75px;
  background-color: rgba(213, 67, 62, 0.75);
  box-shadow: 0px 8px 43px 0px rgba(213, 67, 62, 0.59);
}

.corona-info {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 28px;
  margin-bottom: 7px;
}
.covidContainer {
  margin: 0 auto;
  height: 59%;
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.items {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

/*-----качество воздуха-------*/
.air-box {
  left: -7.6%;
  width: 25%;
  height: 200px;
  background-color: rgba(16, 33, 54, 0.75);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
}

/*   YARIK && MICHAL  */

/*--------- Chart styles-----------*/

.show-chart-box {
  width: 280px;
  padding: 0 26px;
}

/* .chart-box {
  display: none;
} */
.chart-box {
  width: 280px;
  padding: 16px 26px;
  background-color: rgba(16, 29, 47, 0.9);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
  border-radius: 35px;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.chart-header {
  margin-bottom: 8px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 22px;
  color: rgb(255, 107, 8);
  text-transform: capitalize;
  text-align: center;
}

.chart-header:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 200ms linear;
}

.chart-btn {
  width: 27px;
  height: 27px;

  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgba(247, 247, 247, 0.2);
  text-align: center;
}

.chart-btn:hover {
  background-color: rgba(247, 247, 247, 0.3);
  transition: 200ms linear;
  cursor: pointer;
}

.chart-icon {
  fill: white;
  vertical-align: middle;
}

.hide-chart-icon {
  margin-bottom: 2px;
}

.chart-title {
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: rgb(150, 155, 163);
}

.chart-wrapper {
  height: 385px;
}

.show-chart-box.hidden {
  display: none;
}

.chart-box.visible {
  display: block;
}

@media screen and (min-width: 768px) {
  .corona-box {
    margin-left: 0;
  }
  .show-chart-box {
    width: 608px;
    padding: 0 30px;
  }

  .chart-box {
    width: 608px;
  }

  .chart-header {
    font-size: 15px;
  }

  .chart-wrapper {
    height: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .corona-box {
    margin-left: 0;
  }
  .show-chart-box {
    width: 1060px;
    padding: 0 160px 0 130px;
    margin: 0 auto;
  }

  .chart-box {
    width: 1060px;
    margin: 0 auto;
  }

  .chart-wrapper {
    height: 420px;
    width: 830px;
  }

  .chart-title {
    padding-left: 130px;
  }
}

/* ЯРИКА КОД */

.modal {
  width: 1060px;
  box-shadow: 0 8px 43px rgba(16, 33, 54, 0.59);
  border-radius: 35px;
  background-color: rgb(16, 33, 54, 0.8);
  margin: 0 auto;
  margin-bottom: 40px;
}

.list-modal,
.list--days {
  color: rgba(255, 255, 255, 0.342);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.modal-item,
.list--item {
  min-width: 100px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-item {
  max-width: 120px;
  min-height: 200px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.342);
  padding: 20px 15px;
}

.list--days {
  padding: 0 100px 30px;
}

.list-modal {
  padding-bottom: 30px;
  margin: 0 40px;
}

.temp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  font-size: 18px;
}

.num {
  color: #ff6b08;
  letter-spacing: 0.75px;
  font-size: 25px;
  padding-bottom: 10px;
}

.icon--overley {
  margin-bottom: 37px;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.342);
  max-height: 40px;
}

.name--day {
  margin-bottom: 18px;
  font-size: 18px;
}

.list--item:hover .name--day {
  color: #ff6b08;
}

/* .date {
  color: #fff;
  margin-bottom: 34px;
  font-size: 25px;
  font-weight: 400;
} */

.more-info {
  color: rgba(255, 255, 255, 0.342);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.more-info:hover,
.more-info:focus {
  color: #ff6b08;
}

.bonus {
  list-style: none;
  padding: 0;
}

.bonus-item {
  display: flex;
}

.text {
  position: relative;
  padding-left: 30px;
  padding-bottom: 6px;
}

.notActive {
  display: none;
}

.time {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.overlay-icon {
  margin: 20px;
}

.first::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(./icons/firstIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.second::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(./icons/secondIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.third::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(./icons/thirdIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.btn {
  display: flex;
  justify-content: center;
}

.show--chart {
  color: #ff6b08;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: underline;
}

.show--button {
  width: 27px;
  height: 27px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.342);
  outline: none;
  border: none;
  /* background-image: url("./icons/>.png"); */
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1023px) {
  .corona-box {
    width: 95%;
  }
  .corona-box {
    width: 95%;
  }

  .siema {
    width: 100%;
  }
  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .weather-container,
  .btn-wrapper2 {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .btn-wrapper2 {
    justify-content: space-around;
    width: 80%;
  }
  .main-input {
    width: 100%;
    height: 60px;
  }
  .wrapper-for-wrapper {
    width: 95%;
  }
  .input-wrapper {
    width: 90%;
  }
  .bottom-containers-wrapper {
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 60%;
    left: 0;
  }
  .temp1 {
    margin-bottom: 0;
  }
  .input-slider-container {
    margin-bottom: 50px;
    width: 95%;
  }
  .temp-container-wrapper {
    margin-left: 0;
  }
  .first-row {
    width: 100%;
    padding-left: 0;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 270px;
    width: 100%;
    left: 0;
  }
  .city {
    margin-bottom: 0;
  }
  .second-row {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .date-info {
    height: 100%;
    width: 60%;
    flex-wrap: wrap;
  }
  .right-click {
    width: 45px;
    height: 45px;
  }
  .bottom-list-items {
    width: 50%;
    height: 30%;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .corona-box {
    margin-left: 0;
    width: 95%;
  }

  .main {
    width: 90%;
    margin: 0 auto;
  }
  .wrapper-for-wrapper {
    display: block;
    width: 95%;
  }
  .input-slider-container {
    width: 95%;
  }
  .right-click {
    width: 45px;
    height: 45px;
  }
  .weather-container {
    width: 95%;
  }
  .siema {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
  }
  .input-wrapper {
    width: inherit;
  }
  .main-input {
    width: 100%;
  }
  .bottom-containers-wrapper {
    width: 95%;
  }
  .date-container {
    width: 100%;
  }
  .air-box {
    width: 95%;
  }
  .second-row {
    padding-left: 0;
  }
}
.modal {
  width: 1060px;
  box-shadow: 0 8px 43px rgba(16, 33, 54, 0.59);
  border-radius: 35px;
  background-color: rgb(16, 33, 54, 0.8);
  margin-bottom: 40px;
  display: none;
  margin: 0 auto;
  transition: 700ms all ease-out;
}
.modalEffects {
  margin-left: -75%;
  opacity: 0;
}
.cityName {
  margin: 0;
  text-align: center;
  line-height: 80px;
  font-size: 32px;
  color: #fff;
}

.list-modal,
.list--days {
  color: rgba(255, 255, 255, 0.342);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
}

.modal-item,
.list--item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list--days {
  margin: 0 20px;
}

.list-modal {
  padding-bottom: 30px;
  margin: 0 40px;
}

.list--item {
  width: 130px;
}

.modal-item {
  width: 120px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.342);
  padding: 15px 10px;
}

.icon--weather {
  width: 100%;
}

.temp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.num {
  color: #ff6b08;
  letter-spacing: 0.75px;
  font-size: 25px;
  padding-bottom: 10px;
}

.num::after {
  content: '';
  display: inline-block;
  padding-bottom: 40px;
  background-image: url(icons/elips2.png);
  width: 10px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--overley {
  margin-bottom: 37px;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.342);
  max-height: 40px;
}

.name--day {
  margin-bottom: 18px;
  font-size: 18px;
}

.list--item:hover .name--day {
  color: #ff6b08;
}

.date-yarik {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
}

.more-info {
  color: rgba(255, 255, 255, 0.342);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.more-info:hover,
.more-info:focus {
  color: #ff6b08;
}

.bonus {
  list-style: none;
  padding: 0;
}

.bonus-item {
  display: flex;
}

.text {
  position: relative;
  padding-left: 30px;
  padding-bottom: 6px;
  margin: 0 0 5px 0;
}

.time {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.overlay-icon {
  margin: 20px;
}

.first::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(./icons/firstIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.second::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(./icons/secondIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.third::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(./icons/thirdIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.btn {
  display: flex;
  justify-content: center;
}

.show--chart {
  color: #ff6b08;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: underline;
}

.show--button {
  width: 27px;
  height: 27px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.342);
  outline: none;
  border: none;
  /* background-image: url("./icons/>.png"); */
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1060px) {
  .modal {
    width: 608px;
  }

  .list--item {
    width: 80px;
    margin-bottom: 20px;
  }

  .name--day {
    font-size: 14px;
  }

  .date-yarik {
    font-size: 18px;
  }

  .icon--overley {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  .temp {
    font-size: 12px;
  }
  .num {
    font-size: 20px;
  }

  .line {
    max-height: 50px;
  }

  .modal-item {
    width: 110px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 280px;
  }

  .list--item {
    margin-bottom: 10px;
  }

  .name--day {
    margin: 0;
    margin-bottom: 8px;
  }

  .date-yarik {
    margin: 0;
    margin-bottom: 10px;
  }

  .temp {
    margin: 0;
  }

  .list-modal {
    margin: 0;
  }

  .modal-item {
    margin: 10px;
  }
}

.show-chart-box {
  width: 280px;
  padding: 0 26px;
  margin: 0 auto;
}

.chart-box {
  display: none;
}

.chart-box {
  margin: 0 auto;
  width: 1060px;
  padding: 16px 26px;
  background-color: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
  border-radius: 35px;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 20px;
}

.chart-header {
  margin-bottom: 8px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 22px;
  color: rgb(255, 107, 8);
  text-transform: capitalize;
  text-align: center;
}

.chart-header:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 200ms linear;
}

.chart-btn {
  width: 27px;
  height: 27px;

  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgba(247, 247, 247, 0.2);
  text-align: center;
}

.chart-btn:hover {
  background-color: rgba(247, 247, 247, 0.3);
  transition: 200ms linear;
  cursor: pointer;
}

.chart-icon {
  fill: white;
  vertical-align: middle;
}

.hide-chart-icon {
  margin-bottom: 2px;
}

.chart-title {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: rgb(150, 155, 163);
}

.chart-wrapper {
  height: 385px;
}

@media (max-width: 1060px) {
  .chart-box,
  .show-chart-box {
    display: none;
  }
}
